*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.d_flex{
  display: flex;
}

nav{
  width: 100%;
  padding: 0 20px;
  align-items: center;
  color: #5F6368;
  background-color: white;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #5F6368;
}

.navtop{
  padding: 20px 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.navtop span{
  margin-left: 10px;
}

.navtop img{
  height: 27px;
}

.navbottom ul{
  list-style: none;
  
}

.navbottom li {
  margin-right: 40px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 400;
}

.faq{
  color: #3c4043;
  width: 70vw;
  margin: auto;
  margin-top: 160px;
  margin-bottom: 80px;
}

.faq h1{
  font-size: 24px;
  margin: 40px 0;
  font-family: sans-serif;
  font-weight: 600;
}

.faq p{
  font-size: 14px;
  line-height: 22px;
}

